*{
    margin: 0px;
    padding: 0px;
}

.card {
    /* background-color: blueviolet; */
    margin: 40px;
    height: 350px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
    height: 95%;
    width: 95%;
}

img{
    position: absolute;
    top: -5%;
    height: 80%;
    width: auto;
    
    box-shadow: solid 10px black;
    transition-duration: 0.2s;
    transition-timing-function: linear ;
}
img:hover{
    position: absolute;
    top: -6%;
    height: 85%;
    width: auto;
}

h1 {
    font-family: 'PressStart';
    font-size: 20px;
    margin-bottom: 5%;
}

.atributes {
    bottom: 0px;
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}
.atributes > ul{
    height: 30px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 20px;
}

.atributes li{
    height: 100%;
    width: 100%;
    border-right: solid 1px rgb(77, 73, 73);
}

.atributes li:last-child{
    border-right: none;
}
